*.zip
*.log
*.exe
/build/
Thumbs.db
.cursor/
.idea/
.env.*.local
*.swo
*.sqlite
.cache/
Cargo.lock
*.out
*.swp
.env.local
*.db
*.so
*.dll
node_modules/
.vscode/
.env
/target/
*.dylib
*.test
.claude/
.DS_Store
*.tmp
*.tar.gz
*~
vendor/
logs/
package-lock.json
/dist/
*.exe~
yarn.lock
*.rar
*.temp
.claude/
claude.md
catalog*.json
output/
test/
.reference/
